body {
    background-color: #82b64a;
    background-position: top;
    background-repeat: repeat-x;
    background-image: url(../elements/background.png);
}

#bulb {
    background: url(../elements/bulb.jpg) top left;
    float: left;
    width: 390px;
    height: 465px;
}

.width-960 {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

#map {
    margin: 0 auto 30px auto;
    border: 1px dashed #fff;
    width: 600px;
    height: 360px;
}

.small-block {
    width: 550px;
    margin: 0 auto;
}

#main-menu {
    height: 28px;
    /*padding-left: 15px;*/
}

#main-menu a {
    padding-top:4px;
    display: inline-block;
    color: #133B0E;
    margin-right:35px;
}

#main-content header {
    font-weight: bold;
    font-size: 65px;
    color: #77a652;
    /*-moz-linear-gradient(top, #8CB56C 0%,#75A251 100%);*/
    /*background-image: linear-gradient(to bottom, #8CB56C 0%,#75A251 100%);*/
    text-shadow: -1px 0 #294A1A, 0 1px #294A1A, 1px 0 #294A1A, 0 -1px #294A1A;
    /*background-clip: text;*/
    /*color:transparent;*/
}

#description {
    color: #c8e5b0;
    text-shadow: -1px 0 #294A1A, 0 1px #294A1A, 1px 0 #294A1A, 0 -1px #294A1A;
}

#description h4 {
    font-size: 20px;
}

.separator {
    height: 2px;
    width: 591px;
    margin: 25px auto;
}

.separator-1 {
    background-image: url(../elements/separator_1.png);
}

.separator-2 {
    background-image: url(../elements/separator_2.png);
}

footer a {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #A9D47A;
    border-top: 1px solid #446C30;
    border-left: 1px solid #446C30;
    border-right: 1px solid #446C30;
    text-align: center;
    margin: 0 auto;
    color: #133B0E;
    padding-top:10px;
    border-radius: 15px 15px 0 0;
}

footer a:hover {
    color: #133B0E;
}

.common-title {
    color: #c8e5b0;
    text-shadow: 3px 3px 2px #294A1A;
}

#main-content address mark {
    background: none;
    text-decoration: underline;
    color: #294A1A;
    font-size: 30px;
    margin-left:20px;
}

#main-content address {
    margin-bottom: 30px;
}

#main-content address p {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin: 15px 0 10px 25px;
}

#main-content address p.mail {
    color: #294A1A;
}

#main-content address p.mail a {
    color: #fff;
}

#main-content .product-block:nth-child(4n+4) {
    margin-right: 0;
}

#main-content .product-block {
    width: 120px;
    height: 180px;
    border: 1px solid #456923;
    background-color: #9bc56e;
    margin-right: 40px;
    display: inline-block;
    position: relative;
}

#main-content .product-block div {
    width: 118px;
    height: 108px;
    position: absolute;
}

#main-content .product-block div i {
    text-align: center;
    margin-top:30px;
    font-size: 40px;
    width: 100%;
    color: #fff;
}

#main-content .product-block:hover div i {
    color: #456923;
}

#main-content .product-block:hover {
    background-color: #fff;
    cursor: pointer;
}

#main-content .product-block:hover header {
    background-color: #9bc56e;
    color: #fff;
}

#main-content .product-block header {
    display: block;
    width: 118px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #456923;
    text-shadow: none;
    text-align: center;
    padding-top: 20px;
}

.medium-block {
    width: 612px;
    margin: 0 auto;
}
